.assign-wrapper {
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  width: fit-content;
  margin: auto;
}

.assign-title {
    /* text-align: center; */
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
}

.assign-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.assign-field {
  display: flex;
  flex-direction: column;
}

.assign-field.two {
  grid-column: span 2;
}

.assign-field.one {
  grid-column: span 1;
}


.assign-field.four {
  grid-column: span 4;
}

.assign-field label {
  font-size: 13px;
  margin-bottom: 4px;
  font-weight: 600;
}

.assign-field input,
.assign-field select {
  padding: 9px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

.assign-btn {
  grid-column: span 4;
  margin-top: 10px;
  padding: 12px;
  background: linear-gradient(135deg, #2563eb, #1e3a8a);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.disabled-form {
  opacity: 0.6;
  pointer-events: none;
}
