@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Badeen+Display&family=Carattere&family=Outfit:wght@100..900&family=Pacifico&family=Pochaevsk&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alexandria", sans-serif;
}